html
  head
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href='icomoon.css')
  body
    .get-channel
      h2 ChannelID
      p.channelID
      script.
        window.app = require('./get-channel');