*
  box-sizing border-box
.items
  display flex
  flex-direction column
html
  font-size 13px
body
  font-family sans-serif
  background #2a3746
  color #ada7c3
  .vignette
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 2000
    background radial-gradient(transparent 82%, #1c242e)
    pointer-events none
audio
  display none
.items, .search-results, .feeds-directory, .settings-page
  flex-direction column
  margin-left 15rem
  margin-bottom 10rem
.sidebar
  position fixed
  top 0
  left 0
  width 14rem
  a
    cursor pointer
    &:hover
      filter brightness(1.5)
  .add-podcast
    form
      margin-bottom 0
      display flex
      input[type="submit"]
        display none
      #add-podcast
        width 100%
        padding .5rem
        background linear-gradient(#2a3746,#3e5167)
        border 1px solid #575d71
        border-bottom none
        color #ada7c3
  .row
    display flex
    a.button
      padding .5rem
      border-top 1px solid #575d71
      border-right 1px solid #575d71
      flex 1
      font-family sans-serif
      background linear-gradient(#2a3746,#1c242e)
      &.selected
        filter brightness(1.5)
        background linear-gradient(#1c242e,#2a3746)
    canvas
      width 100%
      height 6rem
      background #000
  .podcasts
    display flex
    flex-direction row
    flex-wrap wrap
    a
      flex 1 0 0px
      min-width 33.3%
      max-width 33.3%
      background-size cover
      background-position 50% 50%
      &:before
        content ''
        display block
        padding-top 100%
        float left
    .pod-image
      width 100%
      background-size cover
      background-position 50%
      &:before
        content ''
        padding-top 100%
        display block
    h2
      margin 0
      padding .5rem
    p
      margin 0
      padding .5rem
      padding-top 0
.spinner
  background url(images/three-dots.svg)
  height 3rem
  margin-left 15rem
  background-repeat no-repeat
  background-position 50%
  background-size 2rem
  display none
.player
  position fixed
  bottom 0
  left 0
  width 100%
  display none
  justify-content space-between
  align-items center
  font-family sans-serif
  z-index 3000
  .background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1))
    z-index -1
  .pod
    padding 0 0.5rem
    margin-left .5rem
    display flex
    align-items center
    flex 1
    .pod-image
      width 40px
      height 40px
      min-width 40px
      min-height 40px
      background-size cover
      margin-right .5rem
    .title, .feed-title
      font-size .9rem
    .feed-title
      text-transform uppercase
      color #666
  .controls
    display flex
    flex-direction column
    flex 2
    margin .5rem 0
    .buttons
      display flex
      justify-content center
      align-items center
      font-size 2rem
      color #999
      .playpause
        font-size 3rem
        color #666
        .icon-stop2
          display none
    .position
      display flex
      justify-content space-between
      align-items center
      font-size .7rem
  .slider
    flex 1
    background rgb(210,210,210)
    margin .5rem
    height .5rem
    border-radius .2rem
    overflow hidden
    .bar
      width 0%
      height 100%
      background rebeccapurple
      pointer-events none
  .volume
    display flex
    flex 1
    justify-content flex-end
    align-items center
    margin-right 1rem
    .slider
      max-width 5rem
      
.options
  position fixed
  top 1rem
  right 1rem
  z-index 2002
  .option
    width 2rem
    height 2rem
    font-size 2rem
    display flex
    justify-content center
    align-items center
    border 1px solid
    border-radius .3rem
    background rgba(255,255,255,0.1)
    opacity 0.2
    transition opactiy 0.2s
    cursor pointer
    &:hover
      opacity 1
    .forwards
      transform rotate(0deg)
    .backwards
      transform rotate(180deg)
      display none
      
.date-range, .page-title
  font-weight normal
  font-size 1.8rem
  font-family sans-serif
  margin 1rem 0
  padding-left calc(100px + 1rem)
.feed
  display flex
.item, .feed
  margin 0.6rem 0
  &.playing
    .details .summary
      filter brightness(150)
  a
    display flex
    cursor pointer
  .image
    width 100px
    height 100px
    min-width 100px
    min-height 100px
    background-size cover
    background-position 50% 50%
    margin-right 1rem
  .details
    max-height 100px
    overflow hidden
    position relative
    flex 1
    .fade
      position absolute
      top 0px
      left 0px
      width 100%
      height 100%
      background linear-gradient(transparent 92%, #2a3746)
      pointer-events none
    .title, .pod-details
      font-family sans-serif
    .title
      font-size 1.1rem
      margin-right 3rem
      color white
    .pod-details, .feed-details
      font-size 0.9rem
      padding 0.3rem 0
      display flex
      justify-content space-between
      .pod-title
        text-transform uppercase
        color #8789bf
        &:hover
          filter brightness(1.5)
      .date
        color #ac87bf
      .link
        cursor pointer
        margin-right 1rem
        &:hover
          filter brightness(1.5)
    .feed-details
      justify-content flex-start
    .summary
      font-size 1rem
    .duration
      position absolute
      top 0
      right 0
      font-family sans-serif
      font-size .9rem
      padding .1rem
      background rebeccapurple
      color white
.search-results .item
  display flex
.settings-page
  .setting
    display flex
    .label
      width calc(100px + 1rem)
    .controls
      h4
        margin 0 0 .5rem 0
      .channelID
        padding .5rem
        box-shadow inset 1px 1px 1px rgba(0,0,0,0.3)
  
.join-channel
  form
    display flex
    input[type='text']
      flex 1
    input
      padding .5rem